<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h1>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Intro</h2>
<p style="text-align:justify" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I'm a physicist with a strong passion for technology, I'm courious by nature and enjoy learning about any subject. 
  Most of my experience is building products involving AI capabilities, data processing and analysis. 
  I'm also interested in MLOps and cloud practices.
  <br>
  Right now I'm a ML Engineer/Data Scientist for the Products division at NTT Data.
 <br>
</p>
