<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Presentation</h2>
<p style="text-align:justify" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I'm physicist who loves technology. Now an AI MSc student.
  I am interested in new fields like blockchain or IoT but my main purpose is to build a career in AI. 
  I like developing software solutions and I like applying my math/physics knowledge to problem solving so I think disciplines like Machine Learning or Data Science could fit me well.
  I'm also a hardware enthusiast and love keeping up with the new awesome tech arriving the market each year! <br>
</p>