<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About my work</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>BSc in Physics</h3>
<p style="text-align:justify" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  My BSc final thesis consisted on applying neural networks to find the fundamental state of a quantum many-body system.
  Basically, I made use of a library named NetKet (https://www.netket.org) to make a simple NN structure, like a RBM or a FFNN, learn the fundamental state of a given quantum many-body system. 
  The plan was to study a couple of different hamiltonians and check how these ML methods can be useful applied to physics, and what can we expect from them.
  <br>
  <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>NTT Data</h3>
  During my first 2-3 years at NTT Data I built several recommenders, processed lots of documents, profiled lots of users and built lots of microservices. 
  Got to work with ontologies and graph databases, which are quite interesting, wrote tons of ElasticSearch queries, touched some Spacy pipelines and even helped with the custom search engine of the product.
  Learnt a lot about containerization and DevOps.
  <br>
  On my 3rd-4th year I got involved in a new product idea, which we had to validate, do some PoCs, pivot, and finally build the MVP.
  There I got lots of experience and more responsabilities on different things as we were a very small team. 
  Got more experienced with DevOps, CI/CD, unsupervised learning, feature stores...
  <br>
  <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>MSc in AI</h3>
  I studied a very general MSc in artificial intelligence which gave me the opportunity to learn and practice about a wide set of ML fields.
  Optimization algorithms, supervised and unsupervised learning, deep learning, reinforcement learning, computer vision, NLP...

  My final thesis consisted on building an end-to-end upselling and cross-selling system. I got a dataset from an insurance company and worked on my own to:
  <br>
  <ul  style="text-align:justify" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <li>Clean, process and transform the data</li>
    <li>Perform some basic clustering, GIS visualization, time-series analysis</li>
    <li>Train a cross-selling model</li>
    <li>Train a upselling model</li>
    <li>Deploy and serve both models in the public Cloud</li>
  </ul>
<br>

<br>
  I don't have almost any GitHub repositories as most of the code I develop is private, but I will try to build some personal proyects for learning purposes.
  If there's any such thing it should be shown here:

</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
