<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p style="text-align:justify" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  Right now I am working on my final thesis for the physics degree. The title is: <b>Neural networks solutions for the quantum many-body problem</b>. 
  Basically, I am making use of a library named NetKet (https://www.netket.org/) to try to make a simple NN structure, like a RBM or a FFNN, learn the fundamental state of a given many-body system. 
  The plan is to study a couple of different hamiltonians and check how these ML methods applied to physics can be useful and what can we expect from them.
<br>
<br>
  I don't have almost any GitHub repositories but as I develop my portfolio they will appear down here:

</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
